@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contact {
  background-color: #004d61; /* Dark cyan to match navbar */
  color: #f4f4f9; /* Light grayish blue */
  padding: 40px 20px;
}

.contact h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #f4f4f9; /* Light grayish blue */
}

.contact-to {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Changed to flex-start for better alignment */
  background-color: #004d61; /* Dark cyan */
  padding: 40px; /* Adjusted padding */
  border-bottom: 1px solid #00798c; /* Cyan */
}

.left,
.right {
  background-color: #f4f4f9; /* Light grayish blue */
  border: 1.3px solid #00798c; /* Cyan */
  padding: 20px;
  border-radius: 10px; /* Reduced border-radius for a cleaner look */
  width: 48%;
}

.left h4,
.right h4 {
  margin-bottom: 20px;
  color: #004d61; /* Dark cyan */
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: 1px solid #00798c; /* Cyan */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #00798c; /* Cyan */
  color: #f4f4f9; /* Light grayish blue */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #004d61; /* Dark cyan */
}

iframe {
  border: none;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .contact-to {
    flex-direction: column;
    padding: 20px; /* Adjusted padding for smaller screens */
  }

  .left,
  .right {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .contact-to {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 20px;
  }

  .contact-to {
    padding: 20px;
  }

  input,
  textarea {
    padding: 8px; /* Adjusted padding for smaller screens */
  }
}
